body{
    margin: 0;
    padding: 0;
    background-color: gold;

}

header{
    background-color: yellow;
    color: white;
    padding: 1em;
    text-align: center;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin-bottom: 20px;
}

.titulo img{
    max-width: 80px;
    height: auto;
}

.titulo h1{
    font-size: 4rem;
    margin: 0;
    color: rgb(34, 139, 204);
}

.logo_footer{
    font-size: 1rem;
    margin: 5;
    color: black;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav ul li{
    margin: 0 1em;
   
}

.navBtn{
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: rgb(34, 139, 204)
    

}

.navBtn:hover{
    text-decoration: underline;
}

main{
    padding: 2em;
}

form input,
form button{
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
}

footer{
    background-color: yellow;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.recuadro{
    margin: auto

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formularios-login{
    width: 400px;
    height: 340px;
    background: silver;
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  

}


.formularios-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.formularios-Registro{
    width: 800px;
    height: 890px;
    background: silver;
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;

}

.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

